<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sMonitor</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CadastraDispositivo</display-name>
    <servlet-name>CadastraDispositivo</servlet-name>
    <servlet-class>br.com.monitorDispositivo.servlets.CadastraDispositivo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastraDispositivo</servlet-name>
    <url-pattern>/CadastraDispositivo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaDispositivo</display-name>
    <servlet-name>ConsultaDispositivo</servlet-name>
    <servlet-class>br.com.monitorDispositivo.servlets.ConsultaDispositivo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaDispositivo</servlet-name>
    <url-pattern>/ConsultaDispositivo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletaDispositivo</display-name>
    <servlet-name>DeletaDispositivo</servlet-name>
    <servlet-class>br.com.monitorDispositivo.servlets.DeletaDispositivo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletaDispositivo</servlet-name>
    <url-pattern>/DeletaDispositivo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaDispositivoPorId</display-name>
    <servlet-name>ConsultaDispositivoPorId</servlet-name>
    <servlet-class>br.com.monitorDispositivo.servlets.ConsultaDispositivoPorId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaDispositivoPorId</servlet-name>
    <url-pattern>/ConsultaDispositivoPorId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditaDispositivo</display-name>
    <servlet-name>EditaDispositivo</servlet-name>
    <servlet-class>br.com.monitorDispositivo.servlets.EditaDispositivo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditaDispositivo</servlet-name>
    <url-pattern>/EditaDispositivo</url-pattern>
  </servlet-mapping>
</web-app>